html {
    font-family: Helvetica, Arial, sans-serif;
}

table, tbody, tr, td {
    padding: 0;
}

tbody, tr, td {
    margin: 0;
}

table.drawing td {
    width: min(5vw, 5vh);
    height: min(5vw, 5vh);
    text-align: center;
    color: hsla(0, 0%, 0%, 10%);
}

table.drawing, table.drawing td {
    border: 1px solid hsla(0, 0%, 0%, 5%);
}

table.small td {
    width: 2px;
    height: 2px;
}


table.small, table.small td {
    border: none;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 16px;
}

.selected {
    color: white !important;
    font-weight: 700;
    border: 2px solid black;
}

button:active {
    color: black;
}

.feed-container {
    display: flex;
    flex-wrap: wrap;
}

.feed-item {
    display: flex;
    margin: 2px;
}